{% extends '__base__.html' %}

{% block content %}

        <div class="header">
            <h1>Ymtx</h1>
            <h2>Stay hungry, stay foolish</h2>
        </div>

        <div class="content">

            <h2 class="content-subhead"></h2>
            <p>
                This is personal website of Yuan Mu, who is living in Beijing.China, and spent most of his time developing software. This website is build by python. From framwork to html, its completed by myself. I'm glad to communicate with people who love coding.
            </p>

            <h2 class="content-subhead"></h2>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://ww3.sinaimg.cn/mw690/b66db7e9jw1f0aer2lf8gj20bo0boabk.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://ww1.sinaimg.cn/mw690/b66db7e9jw1f0aer1mrd9j20bo0bomyt.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://ww2.sinaimg.cn/mw690/b66db7e9jw1f0aer1b5i5j20bi0bignt.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://ww1.sinaimg.cn/mw690/b66db7e9jw1f0aeqxxnocj213t13ttiw.jpg" alt="Mountain">
                </div>
            </div>
        </div>


{% endblock %}

{% block js %}


{% endblock %}